.navbar-brand {
  padding: 3px 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #DB5538;
  background-color: #212d39;
}

.section-custom {
  background-color: #DB5538 !important;
  color: #ffffff;
}

.linked {
  border-bottom: 1px dotted #777;
  text-decoration: none;
}

.linked:hover, .linked:active{
  border-bottom: 1px dotted #D2527F;
  color: #D2527F;
  text-decoration: none;
  cursor: default;
}

.linkedLight {
  border-bottom: 1px dotted #fff;
  text-decoration: none;
  color: #fff;
}

.linkedLight:hover, .linkedLight:active{
  border-bottom: 1px dotted #333;
  color: #333;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b3b3b3;
  background-color: transparent;
}

.top-buffer { margin-top:20px; }

.list-group-item {
  padding: 11px 15px;
  border: 1px solid #eee;
}

#img-buffer {
    display: none;
}

canvas {
  height: 100px;
  width: 100px;
}
